.card {
    display: flex;
    align-items: center;
    color: rgb(73, 4, 2);
    width: 100%;
    padding:0 0.6rem;
    margin-bottom: 1.2rem;
    border-radius: 4px;
    background-color: #fff;
  }

  .card h2{
      
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
  }
  .timer{
      margin-left: auto;
      
  }

  
  