.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:solid 1px rgb(255, 187, 0);
    border-radius: 50%;
    width:4rem;
    height:4rem;

}
.controls{
font-size: 0.6rem;
cursor: pointer;
}
.time{
    font-size: 0.8rem;
}